* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

h1 {
  /* border: blue solid 2px; */
  text-align: center;
  width: 90%;
}
main {
  /* border: red solid 2px; */
  width: 90%;
  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main > section {
  /* border: yellow 2px solid; */
  height: 30%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#morse-output {
  font-weight: bold;
}
